<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{basic.html}">
<head>
<title>글 작성</title>
</head>
<div layout:fragment="content">
	<div class="row mt-3">
		<div class="col" th:if="${contentDTO != null}">
			<div class="card write-box">
				<div class="card-header">
					<b>[[${contentDTO.title}]]</b>
				</div>
				<div class="card-body">
					<div class="input-group mb-3 user-input">
						<span class="input-group-text">작성자</span> <input type="text"
							class="form-control" style="max-width: 200px"
							th:value="${contentDTO.user_id}" readonly="readonly">
					</div>
					<div class="input-group mb-3 date-input">
						<span class="input-group-text">작성일</span> <input type="text"
							class="form-control" style="max-width: 200px"
							th:value="${#temporals.format(contentDTO.regdate, 'yyyy-MM-dd')}" readonly="readonly">
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text">내용</span>
						<div class="form-control col-sm-5 contentBox"
						contentEditable="false">
						</div>
					</div>
					<div class="float-end">
						<div style="float: left">
							<a class="btn btn-secondary" th:href="@{/board/list}">목록</a>
						</div>
						<div style="float: right">
							<a class="btn btn-success" th:href="@{/board/update}+${pageObj.getLink(contentDTO.bno)}">수정</a>
							<a class="btn btn-danger delete">삭제</a>
						</div>
					</div>
				</div>
			</div>
		<form id="deleteForm" action="/board/delete" method="post"></form>
		</div>
	</div>
	<div th:insert="~{/board/list.html :: listFragment}">
	</div>
</div>
<script layout:fragment="script" th:inline="javascript">

	//서버 에러 처리
	const errors = /*[[${errors}]]*/null;
	let errorMsg = ''
	
	if(errors){
		for(let i = 0; i < errors.length; i++){
			errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
		}
		alert(errorMsg)
	}

	const contentDTO = /*[[${contentDTO}]]*/null;
	const deleteForm = document.querySelector("#deleteForm")

	document.querySelector(".delete").addEventListener("click", function(e){
		
		if(confirm("글을 삭제하시겠습니까? 삭제된 글은 복구되지 않습니다.")){
			const deleteInput = document.createElement("input")
			
			deleteInput.setAttribute("type", "hidden")
			deleteInput.setAttribute("name", "bno")
			deleteInput.setAttribute("value",  contentDTO.bno)
			
			deleteForm.appendChild(deleteInput)
			
			deleteForm.submit()
		}
	})
	
	//내용 출력
	setContent()
	
	//컨텐츠 추가
	function setContent(){
		
		//이미지 추가
		if(contentDTO.fileList != null){
			let imgStr = ''
				
			for(var dto of contentDTO.fileList){
				imgStr += `<img src="/view/${dto.date}/${dto.uuid}_${dto.fileName}">`
			}
			
			document.querySelector(".contentBox").insertAdjacentHTML("afterbegin", imgStr);	//이미지 출력
		}
		
		const contentText = [[${contentDTO.content}]].replace(/(?:\r\n|\r|\n)/g, '<br>') //엔터 변환
		document.querySelector(".contentBox").insertAdjacentHTML("beforeend", contentText);	//텍스트 출력
	}
</script>
</html>
