<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
<link th:href="@{/css/login.css}" rel="stylesheet" />
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/login" method="post">
      <input type="text" name="user_id" placeholder="아이디"/>
      <input type="password" name="password" placeholder="비밀번호"/>
       <p class="message" th:if=${wrongIdOrPassword}>아이디 혹은 비밀번호가 잘못되었습니다</p>
      <button type="submit">login</button>
      <p class="message">아직 가입하지 않으셨나요? <a href="#">회원가입</a></p>
    </form>
  </div>
</div>
</body>
</html>

