<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{basic.html}">
<head>
  <meta charset="UTF-8">
  <title>Simple Blog</title>
</head>
<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <b>ERROR</b>
        </div>
        <div class="card-body">
         	이 페이지는 존재하지 않습니다.
        </div>
      </div>
    </div>
  </div>
</div>
